@model Service

@{
    ViewData["Title"] = "Удалить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mb-4">Удаление</h2>

<div class="container">
    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title text-center mb-4">Вы уверены, что хотите удалить эту услугу?</h4>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AdditionalService.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AdditionalService.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Employee.FirstName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Employee.FirstName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Client.FirstName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Client.FirstName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Cost)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Cost)
                </dd>
            </dl>

            <form asp-action="Delete" class="text-center mt-4">
                <input type="hidden" asp-for="ServiceId" />
                <button type="submit" class="btn btn-danger">Удалить</button>
                <a asp-action="Index" class="btn btn-secondary ml-2">Вернуться к списку</a>
            </form>
        </div>
    </div>
</div>
